<!DOCTYPE html>
<html ng-app="agendaTelefonica">
	<head>
		<meta charset="utf-8">
		<title>Agenda Telefônica</title>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	</head>	

	<body>
		<div class="container-fluid">
			<div class="row" ng-controller="listaTelefonicaCtrl">
				<h2>{{app}}</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Nome</th>
							<th>Apelido</th>
							<th>Telefone</th>
							<th>Operadora nome</th>
							<th>Operadora codigo</th>
						</tr>
					</thead>
					<tbody class="table table-hover">
						<tr ng-repeat="contato in contatos">
							<td>
								<input type="checkbox">	
							</td>
							<td class="active">{{contato.nome}}</td>
							<td>{{contato.apelido}}</td>
							<td>{{contato.telefone}}</td>
							<td >{{contato.operadora.nome}}</td>
							<td class="warning">{{contato.operadora.codigo}}</td>
						</tr>
					</tbody>

				</table>
			</div>

		</div>

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"> </script>
		<script type="text/javascript" src="bower_compenents/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

		<script src="js/app.js"></script>

	</body>

</html>
